<% content_for :page_title, @event.name %>

<div class="content">
	<h1><%= @event.name %></h1>
	<h2>Description</h2>
	<p><%= @event.description %></p>
	<dl>
		<dt>Start:</dt>
		<dd><%= @event.start %></dd>
		<dt>End:</dt>
		<dd><%= @event.finish %></dd>
		<dt>Location:</dt>
		<dd><%= @event.location %></dd>
	</dl>
</DIV>
