<!DOCTYPE html>
<html>
	<head>
		<title>Romp International</title>
		<%= stylesheet_link_tag "/assets/application"%>
		<%= javascript_include_tag "/assets/application" %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<div class="header">
			<%= image_tag("/assets/images/black_lady.png", class: "image--black_lady") %>
			<%= image_tag("/assets/images/logo-1-cropped.png", class: "image--logo_cropped") %>
			<%= image_tag("/assets/images/lady_brown.png", class: "image--lady_brown") %>
			<%= image_tag("/assets/images/lady_right.png", class: "image--lady_right") %>
		</div>
		<ul class="toolbar_top">
			<li class="list-item">
				<%= link_to root_path do %>
					<%= image_tag("/assets/images/Romp_letterhead_icon.png", class: "romp-icon") %>
				<% end  %>
			</li>
			<li class="list-item"><%= link_to dashboard_about_path do %>About<% end  %></li>
			<li class="list-item"><%= link_to updates_path do %>Updates<% end  %></li>
			<li class="list-item"><%= link_to events_path do %>Events<% end  %></li>
			<li class="list-item"><%= link_to dashboard_contact_path do %>Contact<% end  %></li>
		</ul>

		<%= yield %>

		<div class="toolbar_bottom">
			<%= image_tag("/assets/images/logo-1-cropped.png",
										class: "image--logo_cropped") %>
			<a href="http://www.facebook.com/" target="_blank">
				<%= image_tag("/assets/icons/facebook-flat-minimalistic-circles-64x64.png",
											class: ["facebook-icon", "icon"]) %></a>
			<a href="http://www.rss.com/" target="_blank">
				<%= image_tag("/assets/icons/feed-icon-28x28.png",
											class: "feed-icon") %></a>
			<a href="http://plus.google.com/" target="_blank">
				<%= image_tag("/assets/icons/googleplus-flat-minimalistic-circles-64x64.png",
											class: ["googleplus-icon", "icon"]) %></a>
			<a href="http://www.instagram.com/" target="_blank">
				<%= image_tag("/assets/icons/instagram-flat-minimalistic-circles-64x64.png",
											class: ["instagram-icon", "icon"]) %></a>
			<a href="http://www.linkedin.com/" target="_blank">
				<%= image_tag("/assets/icons/linkedin-flat-minimalistic-circles-64x64.png",
											class: ["linkedin-icon", "icon"]) %></a>
			<a href="http://www.skype.com/" target="_blank">
				<%= image_tag("/assets/icons/skype-flat-minimalistic-circles-64x64.png",
											class: ["skype-icon", "icon"]) %></a>
			<a href="http://www.twitter.com/" target="_blank">
				<%= image_tag("/assets/icons/twitter-flat-minimalistic-circles-64x64.png",
											class: ["twitter-icon", "icon"]) %></a>
			<a href="http://www.youtube.com/" target="_blank">
				<%= image_tag("/assets/icons/youtube-2-flat-minimalistic-circles-64x64.png",
											class: ["youtube-icon", "icon"]) %></a>
		</div>
	</body>
</html>
