<!DOCTYPE html>
<html>
	<head>
		<title>Romp International: <%= yield(:page_title) %></title>
		<%= stylesheet_link_tag "/assets/application"%>
		<%= javascript_include_tag "/assets/application" %>
		<%= auto_discovery_link_tag(:rss, dashboard_feed_url(format: :atom)) %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<div class="header">
			<%= image_asset("black_lady.png", class: "image--black_lady") %>
			<%= image_asset("logo-1-cropped.png", class: "image--logo_cropped") %>
			<%= image_asset("lady_brown.png", class: "image--lady_brown") %>
			<%= image_asset("lady_right.png", class: "image--lady_right") %>
		</div>
		<ul class="toolbar_top">
			<li class="list-item--first list-item">
				<%= link_to root_path do %>
					<%= image_asset("Romp_letterhead_icon.png", class: "romp-icon") %>
				<% end  %>
			</li>
			<li class="list-item"><%= link_to updates_path do %>Updates<% end  %></li>
			<li class="list-item"><%= link_to events_path do %>Events<% end  %></li>
			<li class="list-item"><%= link_to dashboard_contact_path do %>Contact<% end  %></li>
			<li class="list-item"><%= link_to dashboard_about_path do %>About<% end  %></li>
			<% if loggedin? %>
				<li class="list-item"><%= link_to dashboard_admin_path do %>Admin<% end %></li>
			<% end %>
			<li class="list-item">
				<% if loggedin? %>
					<%= link_to delete_session_path, method: :delete do %>
						<%= icon_asset("double-doors-1443042217.png", class: "key-1443024456-icon") %>
					<% end %>
				<% else %>
					<%= link_to new_session_path do %>
						<%= icon_asset("key-1443024456.png", class: "key-1443024456-icon") %>
					<% end  %>
				<% end %>
			</li>
		</ul>

		<%= yield %>

		<div class="toolbar_bottom">
			<%= image_asset("logo-1-cropped.png", class: "image--logo_cropped") %>
			<a href="http://www.facebook.com/" target="_blank">
				<%= icon_asset("facebook-flat-minimalistic-circles-64x64.png",
											 class: ["facebook-icon", "icon"]) %></a>
			<%= link_to dashboard_feed_path(format: :atom), :target => '_blank' do %>
				<%= icon_asset("feed-icon-28x28.png", class: "feed-icon") %>
			<% end %>
			<a href="http://plus.google.com/" target="_blank">
				<%= icon_asset("googleplus-flat-minimalistic-circles-64x64.png",
											 class: ["googleplus-icon", "icon"]) %></a>
			<a href="http://www.instagram.com/" target="_blank">
				<%= icon_asset("instagram-flat-minimalistic-circles-64x64.png",
											 class: ["instagram-icon", "icon"]) %></a>
			<a href="http://www.linkedin.com/" target="_blank">
				<%= icon_asset("linkedin-flat-minimalistic-circles-64x64.png",
											 class: ["linkedin-icon", "icon"]) %></a>
			<a href="http://www.skype.com/" target="_blank">
				<%= icon_asset("skype-flat-minimalistic-circles-64x64.png",
											 class: ["skype-icon", "icon"]) %></a>
			<a href="http://www.twitter.com/" target="_blank">
				<%= icon_asset("twitter-flat-minimalistic-circles-64x64.png",
											 class: ["twitter-icon", "icon"]) %></a>
			<a href="http://www.youtube.com/" target="_blank">
				<%= icon_asset("youtube-2-flat-minimalistic-circles-64x64.png",
											 class: ["youtube-icon", "icon"]) %></a>
		</div>
	</body>
</html>
